body{
    background-color: aquamarine;
}
h1,h2{
    color:blue;
}
#container p{
    color: hsl(0, 0%, 100%);
}
#container{
    background-color: #ffffff;
}
p{
    /* cor fundo verde claro */
    background-color: hsla(120, 100%, 75%, 0.5);
}
p:hover{
    /* cor fundo verde escuro */
    background-color: hsl(120, 100%, 22%);    
}
/*
branca: white #ffffff rgb(255,255,255)

#000000
#555555
cinza
#cccccc
#ffffff
*/